// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  height: 70px;
  padding: 10px 50px;
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 105%;
  cursor: pointer;

    &_white {
    background-color: $light-grey;
    color: $text-color;
    border: 2px solid $light-grey;
  }

  &_yellow {
    background-color: $brand-color;
    color: $light-grey;
    border: 2px solid $brand-color;
    box-shadow: 10px 10px 30px 0px hsla(39, 94%, 57%, 0.2);
  }

  &_unactive {
    background-color: transparent;
    border: none;
    color: hsla(215, 0%, 58%, 0.2);
  }
}