.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 600px;

  &__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 435px;
    flex: 0 1 435px;

    @include medium-plus {
      justify-content: space-evenly;
    }

    @include medium {
      justify-content: space-evenly;
    }
  }

  &__link {
    color: $text-color;
    font-weight: 600;
    font-size: 25px;
    line-height: 105%;

    @include medium {
      font-size: 20px;
    }
  }
}