.prize {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__pic {
    max-width: 360px;
    max-height: 360px;

    @include medium-plus {
      max-width: 300px;
      max-height: 300px;
    }

    @include medium {
      max-width: 220px;
      max-height: 220px;
    }

    @include mini {
      max-width: 300px;
      max-height: 300px;
    }

    @include micro {
      max-width: 100%;
      max-height: 150px;
    }

    &_1 {
      transform: rotate(-15deg);
    }

    &_2 {
      @include medium-plus {
        position: relative;
        bottom: 80px;
      }
    }

    &_3 {
      transform: rotate(-15deg);
    }
  }

  &__label {
    position: absolute;
    bottom: 50px;
    font-weight: 600;
    font-size: 30px;

    @include medium-plus {
      font-size: 23px;
    }

    @include medium {
      position: relative;
      bottom: 25px;
      font-weight: 500;
      font-size: 18px;
    }

    @include mini {
      font-size: 18px;
    }

    @include micro {
      bottom: -20px;
      font-size: 16px;
    }
  }

  &__name {
    width: fit-content;
    height: fit-content;
    padding: 18px 25px;
    background: $light-grey;
    border-radius: 15px 15px 15px 0px;

    @include micro {
      padding: 10px 10px;
    }
  }

  &__number {
    width: fit-content;
    height: fit-content;
    padding: 12px 18px 13px;
    background: $dark-grey;
    border-radius: 0px 0px 15px 15px;
    color: $light-grey;

    @include micro {
      padding: 10px 10px 10px;
    }
  }
}