.first {
  @extend %wrapper;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include huge {
    max-width: 70%;
  }

  &__texts {
    max-width: 665px;
  }

  &__title {
    margin-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      top: 80px;
      left: -15px;
      width: 300px;
      height: 450px;
      content: "";
      background-image: url(/assets/images/doodle-line4.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__subtitle {
    margin-bottom: 60px;
    max-width: 535px;
  }

  &__btn {
    margin-right: 30px;
  }

  &__link {
    font-size: 25px;
  }

  &__backgr {
    position: relative;
  }

  &__cake {
    position: relative;
    z-index: 1;
    left: 25%;
  }

  &__pineapple {
    position: absolute;
    right: -330px;
  }

  &__slice {
    position: absolute;
    bottom: 15%;
    right: 5%;
  }

  &__pics {
    position: relative;

    &::before {
      position: absolute;
      top: 370px;
      right: 175px;
      width: 350px;
      height: 330px;
      content: "";
      transform: rotate(-10deg);
      background-image: url(/assets/images/doodle-oils.png);
      background-size: contain;
      background-repeat: no-repeat;

        @include huge {
          mix-blend-mode: overlay;
        }
    }
  }
}
