.first {
  @extend %wrapper;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include huge {
    max-width: 70%;
  }

  @include medium {
    max-width: 70%;
  }

  @include mini {
    max-width: 90%;
    flex-direction: column;
    margin-bottom: 50px;
  }

  @include micro {
    max-width: 100%;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__texts {
    position: relative;
    max-width: 665px;
    z-index: 1;

    @include medium {
      max-width: 60%;
    }

    @include mini {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
    }

    @include micro {
      max-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      flex: 1 1 250px;
    }

    &::before {
      position: absolute;
      bottom: -500px;
      left: -380px;
      width: 230px;
      height: 450px;
      content: "";
      background-image: url(../assets/images/doodle-oils_triangles.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include mini {
        display: none;
      }

      @include micro {
        bottom: -200px;
        left: -70px;
        width: 20vw;
        height: 200px;
        content: "";
        background-image: url(../assets/images/doodle-oils_triangles.png);
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    position: relative;
    z-index: 5;

    @include micro {
      margin-bottom: 24px;
    }

    &::after {
      position: absolute;
      top: 80px;
      left: -15px;
      width: 300px;
      height: 40px;
      content: "";
      background-image: url(../assets/images/doodle-line4.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include medium-plus {
        top: 60px;
        left: -25px;
        width: 270px;
      }

      @include medium {
        display: none;
      }

      @include mini {
        display: none;
      }

      @include micro {
        display: none;
      }
    }
  }

  &__subtitle {
    margin-bottom: 60px;
    max-width: 535px;

    @include mini {
      max-width: 80%;
      margin-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
    }

    @include micro {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-right: 30px;

    @include mini {
      margin-bottom: 15px;
      margin-left: 10%;
    }

    @include micro {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 25px;

    @include medium {
      font-size: 18px;
    }

    @include mini {
      font-size: 18px;
      margin-left: 11%;
    }

    @include micro {
      display: none;
    }
  }

  &__pics {
    position: relative;
    z-index: 5;

    @include medium {
      max-width: 45%;
    }

    @include mini {
      max-width: 45%;
      margin-bottom: -160px;
      margin-right: 5%;
    }

    @include micro {
      margin: 0 5%;
    }

    &::before {
      position: absolute;
      z-index: 0;
      top: 370px;
      right: 175px;
      width: 350px;
      height: 330px;
      content: "";
      transform: rotate(-10deg);
      background-image: url(../assets/images/doodle-oils.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include huge {
        mix-blend-mode: overlay;
      }

      @include big {
        top: 400px;
        right: 50px;
      }

      @include medium-plus {
        display: none;
      }

      @include medium {
        top: 125px;
        right: 15px;
        width: 250px;
        height: 230px;
        transform: rotate(0deg);
      }

      @include mini {
        top: 10px;
        right: -25px;
        width: 290px;
        height: 230px;
        transform: rotate(-20deg);
      }

      @include micro {
        top: 20px;
        right: -30px;
        width: 200px;
        height: 200px;
        transform: rotate(-90deg);
      }
    }
  }

  &__cake {
    position: relative;
    z-index: 1;
    left: 25%;

    @include medium-plus {
      height: 70vh;
    }

    @include medium {
      height: 50vh;
    }

    @include mini {
      height: 50vh;
      top: -120px;
      left: 50%;
    }

    @include micro {
      left: 5%;
      height: 40vh;
    }
  }

  &__pineapple {
    position: absolute;
    left: 58%;

    @include big {
      max-width: 100%;
    }

    @include medium-plus {
      max-width: 100%;
    }

    @include medium {
      height: 45%;
      left: 74%;
      top: 0;
    }

    @include mini {
      height: 46%;
      left: 98%;
      top: -150px;
    }

    @include micro {
      left: 34%;
      height: 20vh;
    }
  }

  &__slice {
    position: absolute;
    bottom: 15%;
    right: 5%;

    @include big {
      max-width: 100%;
    }

    @include medium-plus {
      max-width: 100%;
    }

    @include medium {
      height: 35%;
    }

    @include mini {
      height: 35%;
      bottom: 50%;
      right: 0%;
    }

    @include micro {
      bottom: 15%;
      right: 15%;
      height: 20vh;
    }
  }

  &__parallax span:nth-child(1) {
    height: 10vw;
    width: 30vh;
    top: 30%;
    left: -35%;
    filter: blur(2px);
    transform: rotate(-30deg);
    @include parallax-image(8);
  }

  &__parallax span:nth-child(2) {
    height: 7vw;
    width: 15vh;
    top: 5%;
    right: 24%;
    filter: blur(6px);
    transform: rotate(-30deg);
    @include parallax-image(4, 1);
  }
}