.first {
  @extend %wrapper;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include huge {
    max-width: 70%;
  }

  @include medium {
    max-width: 70%;
  }

  @include mini {
    max-width: 90%;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__texts {
    position: relative;
    max-width: 665px;
    z-index: 1;

    @include medium {
      max-width: 60%;
    }

    @include mini {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
    }

    &::before {
      position: absolute;
      bottom: -500px;
      left: -380px;
      width: 230px;
      height: 450px;
      content: "";
      background-image: url(/assets/images/doodle-oils_triangles.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include mini {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      top: 80px;
      left: -15px;
      width: 300px;
      height: 40px;
      content: "";
      background-image: url(/assets/images/doodle-line4.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include medium-plus {
        top: 60px;
        left: -25px;
        width: 270px;
      }

      @include medium {
        display: none;
      }

      @include mini {
        display: none;
      }
    }
  }

  &__subtitle {
    margin-bottom: 60px;
    max-width: 535px;

    @include mini {
      max-width: 80%;
      margin-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__btn {
    margin-right: 30px;

    @include mini {
      margin-bottom: 15px;
      margin-left: 10%;
    }
  }

  &__link {
    font-size: 25px;

    @include medium {
      font-size: 18px;
    }

    @include mini {
      font-size: 18px;
      margin-left: 11%;
    }
  }

  &__backgr {
    position: relative;
  }

  &__cake {
    position: relative;
    z-index: 1;
    left: 25%;

    @include medium-plus {
      height: 70vh;
    }

    @include medium {
      height: 50vh;
    }

    @include mini {
      height: 50vh;
      top: -120px;
      left: 50%;
    }
  }

  &__pineapple {
    position: absolute;
    left: 58%;

    @include big {
      max-width: 100%;
    }

    @include medium-plus {
      max-width: 100%;
    }

    @include medium {
      height: 45%;
      left: 74%;
      top: 0;
    }

    @include mini {
      height: 46%;
      left: 98%;
      top: -150px;
    }
  }

  &__slice {
    position: absolute;
    bottom: 15%;
    right: 5%;

    @include big {
      max-width: 100%;
    }

    @include medium-plus {
      max-width: 100%;
    }

    @include medium {
      height: 35%;
    }

    @include mini {
      height: 35%;
      bottom: 50%;
      right: 0%;
    }
  }

  &__pics {
    position: relative;

    @include medium {
      max-width: 45%;
    }

    @include mini {
      max-width: 45%;
      margin-bottom: -160px;
    }

    &::before {
      position: absolute;
      z-index: 0;
      top: 370px;
      right: 175px;
      width: 350px;
      height: 330px;
      content: "";
      transform: rotate(-10deg);
      background-image: url(/assets/images/doodle-oils.png);
      background-size: contain;
      background-repeat: no-repeat;

      @include huge {
        mix-blend-mode: overlay;
      }

      @include big {
        top: 400px;
        right: 50px;
      }

      @include medium-plus {
        display: none;
      }

      @include medium {
        top: 125px;
        right: 15px;
        width: 250px;
        height: 230px;
        transform: rotate(0deg);
      }

      @include mini {
        top: 10px;
        right: -25px;
        width: 290px;
        height: 230px;
        transform: rotate(-20deg);
      }
    }
  }
}