// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  @extend %wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

  @include huge {
    max-width: 80%;
  }

  @include medium {
    padding-bottom: 0;
  }

  @include mini {
    max-width: 90%;
  }

  @include micro {
    max-width: 100%;
    flex-direction: column;
  }

  &__rights {
    display: flex;
    align-items: center;

    @include micro {
      font-size: 14px;
      text-align: center;
    }
  }

  &__credits {
    @include medium {
      text-align: end;
    }

    @include mini {
      text-align: end;
    }

    @include micro {
      font-size: 14px;
      text-align: center;
    }
  }

  &__logo {
    margin-right: 20px;
  }
}