// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  @extend %wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;

    @include huge {
      max-width: 80%;
    }

  &__rights {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 20px;
  }
}