// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 1200px;
    margin: 0 auto;
}

.wrapper_header {
    @extend %wrapper;
    padding-top: 35px;
    margin-bottom: 25px;

    @include huge {
        max-width: 2100px;
    }

    @include medium-plus {
        padding-top: 20px;
        margin-bottom: 10px;
    }

    @include medium {
        max-width: 80%;
    }

    @include mini {
        max-width: 100%;
        padding-top: 35px;
        margin-bottom: 20px;
    }
}