// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 1200px;
    margin: 0 auto;
}

.wrapper_header {
    @extend %wrapper;
    padding-top: 35px;
    margin-bottom: 25px;
}