// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 $max-width;
    padding-top: 35px;
}