.wrapper_main {
  margin-bottom: 100px;

  @include huge {
    max-width: 2100px;
    margin: 0 auto 100px;
  }

  @include medium {
    margin-bottom: 50px;
  }

  @include mini {
    margin-bottom: 50px;
  }

  @include micro {
    margin-bottom: 50px;
  }
}