.more {
  @extend %rectangle;
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
  align-items: center;

  &__heading {
    font-weight: 600;
    font-size: 40px;
    color: $light-grey;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 0;
    max-width: 830px;
  }

  &__subtitle {
    max-width: 760px;
  }

  &__elements {
    display: flex;
    margin-bottom: 65px;
    justify-content: space-evenly;
    width: 100%;
}
}