.prizes {
  @extend %flex-column;
  @extend %rectangle;
  margin-bottom: 120px;
  position: relative;

  @include huge {
    max-width: 80%;
  }

  &.prizes::before {
    position: absolute;
    z-index: 2;
    top: -40px;
    right: 220px;
    width: 220px;
    height: 130px;
    content: "";
    transform: rotate(-80deg);
    background-image: url(/assets/images/doodle-arrow1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__heading {
    @extend %heading;
    color: $light-grey;
    margin-bottom: 50px;
  }

  &__subtitle {
    max-width: 760px;
  }

  &__elements {
    display: flex;
    margin-bottom: 65px;
    justify-content: space-evenly;
    width: 100%;
  }

  &__elements::after {
    position: absolute;
    z-index: 2;
    bottom: -70px;
    left: 200px;
    width: 234px;
    height: 195px;
    content: "";
    background-image: url(/assets/images/doodle-circles.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__el2 {
    top: 40px;
  }
}
