.terms {
  @extend %wrapper;
  position: relative;
  margin-bottom: 130px;

  @include huge {
    max-width: 70%;
  }

  @include medium {
    max-width: 74%;
    margin-bottom: 50px;
  }

  @include mini {
    max-width: 90%;
    margin-bottom: 50px;
  }

  @include micro {
    max-width: 200px;
    margin-bottom: 70px;
  }

  &__heading {
    @extend %heading;
    margin-bottom: 70px;
    z-index: 5;

    @include mini {
      margin-bottom: 40px;
    }

    @include micro {
      margin-bottom: 20px;

    }
  }

  &__subtitle {
    max-width: 760px;
    z-index: 5;
  }

  &__steps {
    display: flex;
    position: relative;
    z-index: 5;

    @include mini {
      flex-direction: column;
      align-items: center;
    }

    @include micro {
      flex-direction: column;
      align-items: center;
    }
  }

  &__divider {
    width: 2px;
    height: 230px;
    background-color: $dark-grey;
    opacity: 0.1;

    @include mini {
      height: 75px;
      transform: rotate(90deg);
    }

    @include micro {
      height: 45px;
      transform: rotate(90deg);
    }
  }

  &__parallax span {
    height: 15vw;
    width: 30vh;
    top: 45%;
    right: -30%;
    transform: rotate(-30deg);
    @include parallax-image(6);
  }
}