.terms {
  @extend %wrapper;
  margin-bottom: 130px;

    @include huge {
    max-width: 70%;
  }

  &__heading {
    @extend %heading;
    margin-bottom: 70px;
  }

  &__subtitle {
    max-width: 760px;
  }

  &__steps {
    display: flex;
  }

  &__divider {
    width: 2px;
    height: 230px;
    background-color: $dark-grey;
    opacity: 0.1;
    content: '';
  }
}