.winners {
  @extend %flex-column;
  @extend %wrapper;
  max-width: 63%;
  margin-bottom: 100px;

  @include huge {
    max-width: 84.5%;
  }

  @include medium {
    max-width: 72%;
    margin-bottom: 80px;
  }

  @include mini {
    max-width: 85%;
    margin-bottom: 50px;
  }

  @include micro {
    max-width: 100%;
    margin-bottom: 40px;
  }

  &__heading {
    @extend %heading;
    margin-bottom: 70px;
    position: relative;

    @include mini {
      margin-bottom: 40px;
    }

    @include micro {
      margin-bottom: 30px;
    }

  }

  &__heading::after {
    position: absolute;
    z-index: 2;
    bottom: 30px;
    right: -40px;
    width: 130px;
    height: 190px;
    content: "";
    background-image: url(/assets/images/doodle-crown.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include medium {
      bottom: 100px;
      right: 60px;
      width: 100px;
      height: 100px;
    }

    @include mini {
      bottom: 100px;
      right: -44px;
      width: 90px;
      height: 90px;
    }

    @include micro {
      display: none;
    }
  }

  &__subtitle {
    max-width: 760px;
    margin-bottom: 10px;
  }

  &__text {
    @include micro {
      font-size: 14px;
    }
  }

  &__switch {
    border: 2px solid hsla(215, 0%, 58%, 0.2);
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 50px;

    @include mini {
      display: flex;
    }

    @include micro {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
    }
  }
}