/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: normal 125% / 1 $text-font-stack;
  background-color: hsla(220, 11%, 95%, 1);
}

.main-title {
font-weight: 700;
font-size: 80px;

  @include medium-plus {
    font-size: 64px;
  }
}

.title {
font-weight: 600;
font-size: 60px;
margin-bottom: 20px;

  @include medium-plus {
    font-size: 50px;
  }
}

.subtitle {
font-weight: 600;
font-size: 25px;

  @include medium-plus {
    font-size: 23px;
  }
}

.accent {
  color: $brand-color;
}
