/**
 * Basic typography style for copy text
 */

body {
  color: $text-color;
  font: normal 125% / 1 $text-font-stack;
  background-color: hsla(220, 11%, 95%, 1);
}

.main-title {
  font-weight: 700;
  font-size: 80px;

  @include medium-plus {
    font-size: 64px;
  }

  @include medium {
    font-size: 34px;
  }

  @include mini {
    font-size: 48px;
    text-align: center;
  }

  @include micro {
    font-size: 20px;
    text-align: center;
  }
}

.title {
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 20px;

  @include medium-plus {
    font-size: 50px;
  }

  @include medium {
    font-size: 34px;
  }

  @include mini {
    font-size: 40px;
    text-align: center;
  }

  @include micro {
    font-size: 20px;
    text-align: center;
  }
}

.subtitle {
  font-weight: 600;
  font-size: 25px;

  @include medium-plus {
    font-size: 23px;
  }

  @include medium {
    font-size: 22px;
    font-weight: 500;
  }

  @include mini {
    font-size: 20px;
    text-align: center;
  }

  @include micro {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.accent {
  color: $brand-color;
}